@use 'component' as *;

.toggle {
  @include icon-button;
}

.icon {
  display: inline-flex;

  @include motion {
    transition: transform $dur-3 $ease-out;
  }
}

.toggle:hover .icon {
  transform: rotate(-20deg);
}
